body
{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;
	color:aqua;
	font-size: 18pt;
	font-weight: bold;
	border-left:2px solid white;
	border-right:2px solid white;
	margin-left: 90px;
	margin-right: 90px;
	max-width: 100%;
	max-height: 100%;
}


.heading
{
	margin-left:70px;
	margin-right: 70px;
	border:2px solid black;
	border-radius: 20px;
	text-align: center;
	font-size: 28pt;
	background-color: aqua;
	color:black;
}

#copyright
{
	background-color: rgba(70, 70, 70, 0.8);
	font-weight: bold;
	font-size: 18pt;
	color:rgb(255, 255, 255);
	text-align: center;
	margin-top: 50px;
	margin-left:70px;
	margin-right:70px;
	border: 2px solid black;
	border-radius:20px;
}


.buttons
{
	background-color: rgba(70, 70, 70, 0.8);
	position:relative;
	margin-left: 200px;
	top: 50%;
	color:aqua;
	border-radius: 15px;
	font-family: 'Times New Roman', Times, serif;
	font-size: x-large;
	font-style: bold;
}

a:link
{
	color:rgb(255, 251, 0);
	text-decoration: none;
}

a:hover
{
	background-color: rgb(10, 131, 238);
	color:burlywood;
	text-decoration: underline;
}

a:active
{
	color:red;
}

.story
{
	background-color: rgba(70, 70, 70, 0.8);
	margin-left:70px;
	margin-right:70px;
	border: 2px solid black;
	border-radius:20px;
}

.gallery
{
	background-color: rgba(70, 70, 70, 0.8);
	margin-left:70px;
	border: 2px solid black;
	border-radius:20px;
}


.bar
{
	background-color: rgba(70, 70, 70, 0.8);
	border:2px solid black;
	border-radius: 20px;
	margin-left:70px;
	margin-right: 70px;
}

.hrc
{
	position: relative;
	top: 20px;
	border: none;
	background: aqua hidden;
}